<!DOCTYPE html>
<head>
    <title>Home Menu Page</title>
</head>
<body>
    <!--
    <% for (var i in teammembers) {%>
        <p>Name: <%=teammembers[i].name%>, ID: <%=teammembers[i].id%><p>
    <% } %>
        -->
    <div class = "Menu Header">
        <p class = "Menu Header Button">Menu</p>
        <p class = "Menu Header Sign In">Sign In</p>
        <!-- THIS IS WHERE WE WOULD PUT IN THE WEATHER STUFF -->
    </div>
</body>